---
import type { CollectionEntry } from "astro:content";
import { match } from "ts-pattern";
import githubSvg from "../../assets/social/github.svg?raw";
import linkedinSvg from "../../assets/social/linkedin.svg?raw";
import twitterSvg from "../../assets/social/twitter.svg?raw";

interface Props {
  social: CollectionEntry<"socials">["data"];
}

const { social } = Astro.props;
---

<a
  href={social.link}
  aria-label={social.label}
  target="_blank"
  rel="noopener noreferrer"
  class="group -m-1 cursor-pointer p-1"
>
  <div
    class="inline-flex h-6 w-full fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300"
  >
    {
      match(social.iconName)
        .with("github", () => <Fragment set:html={githubSvg} />)
        .with("linkedin", () => <Fragment set:html={linkedinSvg} />)
        .with("twitter", () => <Fragment set:html={twitterSvg} />)
        .exhaustive()
    }
    <slot />
  </div>
</a>
