---
interface Props {
  title: string;
  description: string;
  author?: string;
}

const { title, description, author = "Zac Clark" } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={`${Astro.site}`} />
<meta property="og:image" content={`${Astro.site}/og-image.jpg`} />

<title>{title}</title>
