---
import { Image } from "@unpic/astro";
import { getCollection } from "astro:content";
import portraitImage from "../assets/about/portrait.jpg";
import portraitFunnyImage from "../assets/about/portrait_funny.jpg";
import FavoriteSection from "../components/About/FavoriteSection.astro";
import FluidContainer from "../components/Container/FluidContainer.astro";
import BaseLayout from "../components/General/BaseLayout.astro";
import SocialLink from "../components/Homepage/SocialLink.astro";

const favorites = await getCollection("favorites");
const socials = await getCollection("socials");
---

<BaseLayout title="About - Zac Clark" description="A software engineer based in Upstate New York">
  <FluidContainer>
    <div class="grid grid-cols-1 gap-y-16 md:gap-y-12 lg:grid-cols-2 lg:grid-rows-[auto_1fr]">
      <div class="lg:pl-20">
        <div class="group relative h-[330px] max-w-xs px-2.5 md:h-[420px] lg:max-w-none">
          <Image
            src={portraitImage}
            alt=""
            sizes="(min-width: 1024px) 32rem, 20rem"
            class="visible absolute aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover opacity-100 transition-all duration-1000 group-hover:invisible group-hover:opacity-0 dark:bg-zinc-800"
          />
          <Image
            src={portraitFunnyImage}
            alt=""
            sizes="(min-width: 1024px) 32rem, 20rem"
            class="invisible absolute aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover opacity-0 transition-all duration-1000 group-hover:visible group-hover:opacity-100 dark:bg-zinc-800"
          />
        </div>
      </div>
      <div class="lg:order-first lg:row-span-2">
        <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">I'm Zac Clark.</h1>
        <div class="mt-6 space-y-7 text-base text-zinc-600 dark:text-zinc-400">
          <p>
            I'm a web enthusiast, programmer, and avid gamer. By day, I'm coding my way through the digital realm; by
            night, I'm conquering virtual worlds. When I'm not in front of a screen, you'll find me on the sports field
            or enjoying a cold beer or a cup of coffee.
          </p>
        </div>
        <div class="mt-6 text-2xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-xl">
          A few favorites:
        </div>
        {favorites.map(({ data: favorite }) => <FavoriteSection favorite={favorite} />)}
      </div>
      <div class="lg:pl-20">
        <div class="flex flex-col gap-4">
          {
            socials.map(({ data }) => (
              <div class="group flex cursor-pointer text-sm font-medium text-zinc-800 transition hover:text-teal-500 dark:text-zinc-200 dark:hover:text-teal-500">
                <SocialLink social={data} />
                <span class="ml-4">{data.label}</span>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </FluidContainer>
</BaseLayout>
