---
import { getCollection } from "astro:content";
import ExperienceEntry from "./ExperienceEntry.astro";

const experiences = await getCollection("experience");
const sortedExperiences = experiences.sort((a, b) => {
  const endDateA =
    a.data.endDate === "Current" ? new Date() : new Date(a.data.endDate);

  const endDateB =
    b.data.endDate === "Current" ? new Date() : new Date(b.data.endDate);

  return endDateB.getTime() > endDateA.getTime() ? 1 : -1;
});
---

<section class="mt-24">
  <p class="font-bold leading-none text-white text-5xl my-12">💼 Experience</p>
  <ol class="relative border-l border-gray-200 dark:border-gray-700">
    {
      sortedExperiences.map((exp) => (
        <ExperienceEntry
          startDate={exp.data.startDate}
          endDate={exp.data.endDate}
          company={exp.data.company}
          title={exp.data.title}
          description={exp.body}
        />
      ))
    }
  </ol>
</section>
