---
import ExperienceEntry from "./ExperienceEntry.astro";
const experiences = await Astro.glob("./entries/**/*.md");
const sortedExperiences = experiences.sort((a, b) => {
  const endDateA =
    a.frontmatter.endDate === "Current"
      ? new Date()
      : new Date(a.frontmatter.endDate);

  const endDateB =
    b.frontmatter.endDate === "Current"
      ? new Date()
      : new Date(b.frontmatter.endDate);

  return endDateB.getTime() > endDateA.getTime() ? 1 : -1;
});
---

<section class="mt-24">
  <p class="font-bold leading-none text-white text-5xl my-12">💼 Experience</p>
  <ol class="relative border-l border-gray-200 dark:border-gray-700">
    {
      sortedExperiences.map((exp) => (
        <ExperienceEntry
          startDate={exp.frontmatter.startDate}
          endDate={exp.frontmatter.endDate}
          company={exp.frontmatter.company}
          title={exp.frontmatter.title}
          description={exp.compiledContent()}
        />
      ))
    }
  </ol>
</section>
